@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 1s ease;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: #757575;
}

.btn-add {
  height: 3.2rem;
  width: 6rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  background-color: #b71c1c;
}

.btn-add:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}
